.movie-info-row {
    margin-bottom: 15px;
}

.movie-info-headers {
    margin-top: 15px;
    margin-bottom: 15px;
}

.movie-info-headers-value {
    margin-top: 8px;
}

.movie-info-title {
    padding: 0;
    font-weight: bold;
}

.movie-info-value {
    padding: 0;
    padding-right: 15px;
    margin-left: 15px;
}

.yt-video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.yt-video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
