.movie-info-row {
    margin-bottom: 15px;
}

.movie-info-headers {
    margin-top: 15px;
    margin-bottom: 15px;
}

.movie-info-headers-value {
    margin-top: 8px;
}

.movie-info-title {
    padding: 0;
    font-weight: bold;
}

.movie-info-value {
    padding: 0;
    padding-right: 15px;
    margin-left: 15px;
}
